<!-- Start Footer -->


<footer  class="  footer footer_detail ">
    <div class="container">

        <div class="row container-fluid ">
            <div class="col-xl-12 col-lg-8 col-md-12">
                <div class="clearfix">
                    <div class="float-left">
                        <p class="copy-rights mb-0">&copy; 2019 Digitrav Copyright</p>
                    </div>

                </div>
            </div>
            <div style="display: none" class="col-xl-12 col-lg-4 col-md-12">
                <h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
                <p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
                <form action="#" method="get" class="newsletter">
                    <input type="text" class="form-control" name="fname" placeholder="Enter your email address">
                    <button class="btn btn-success" type="submit">
                        <div style="font-size: 38px; margin-top: -15px;margin-left: -18px;" class="icon-big text-center">
                            <span  class="flaticon-arrows-1 "></span>
                        </div>
                    </button>

                </form>
            </div>
        </div>
    </div>
</footer>

