{% extends 'client/base/base.html.twig' %}

{% block styles %}

    <link rel="stylesheet" href="{{ asset('assets2/css/style.css') }}" type="text/css">

{% endblock %}

{% block main %}


    <!-- Start Contact -->
    <section class="section pt-1">
        <div class="container">
            <div class="row ">

                <div class="col-md-4">
                    <div class="contact_icon_box mt-3 rounded">
                        <div class="text-center p-3 m-2 bg-light">
                            <div class="contact-icon text-custom">
                                <i class="pe-7s-phone"></i>
                            </div>
                            <div class="contact-detail mt-3">
                                <h6>Call Us On</h6>
                                <p class="text-muted mb-0 mt-3">+237 XX XX XX XX</p>
                                <p class="text-muted mb-2">+237 YY YY YY YY</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact_icon_box mt-3 rounded">
                        <div class="text-center p-3 m-2 bg-light">
                            <div class="contact-icon text-custom">
                                <i class="pe-7s-mail"></i>
                            </div>
                            <div class="contact-detail mt-3">
                                <h6>Email Us At</h6>
                                <p class="text-muted mb-0 mt-3">infos@digitrav.com</p>
                                <p class="text-muted mb-2">support@digitrav.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact_icon_box mt-3 rounded">
                        <div class="text-center p-3 m-2 bg-light">
                            <div class="contact-icon text-custom">
                                <i class="pe-7s-map-marker"></i>
                            </div>
                            <div class="contact-detail mt-3">
                                <h6>Visit Office</h6>
                                <p class="text-muted">4303 XXXX Street Dayton,<br> OH 45402</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row  mt-3">
                <div class="col-lg-6">

                    <iframe width="400" height="300" class="mt-3" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3980.6741697372595!2d11.514843349714447!3d3.879857149295575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2scm!4v1558441702151!5m2!1sfr!2scm"  frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
                <div class="col-lg-6">
                    <div class="contact_form mt-3">
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mt-3">
                                        <input name="name" id="name" type="text" class="form-control" placeholder="Your name..." required="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mt-3">
                                        <input name="email" id="email" type="email" class="form-control" placeholder="Your email..."  required="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mt-3">
                                        <input type="text" class="form-control" id="subject" placeholder="Your Subject.."  required=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mt-3">
                                        <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..." required=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <input type="submit" class="btn btn-custom" value="Send Message">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </section>
    <!-- End Contact -->

{% endblock %}
