{% extends 'client/base/base.html.twig' %}

{% block styles %}
    
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/login.css') }}" />
{% endblock %}

{% block main %}

    <section  class="container-fluid login" >
        <div class="my-login-page">
            <div class="container h-100">
                <div id="login" class="row justify-content-md-center align-items-center h-100">
                    <div class="card-wrapper">

                        <div class="card fat">
                            <div class="card-body">
                                <h4 class="card-title"> <span class="mdi mdi-key"></span> {% trans %}reset_password{% endtrans %}</h4>
                                <form method="POST" class="my-login-validation" novalidate="">
                                    <input type="hidden" name="csrf" value="{{ csrf_token('csrf') }}"/>
                                    <div class="form-group">
                                        <label for="email">{% trans %}email{% endtrans %} </label>
                                        <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                                        <div class="invalid-feedback">
                                            {% trans %}invalid_email{% endtrans %}
                                        </div>
                                        <div class="form-text text-muted">

                                        </div>
                                    </div>
                                    <div id="login-error" class="mt-4 text-center">

                                    </div>

                                    <div class="form-group m-0">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            {% trans %}send{% endtrans %}
                                        </button>
                                    </div>
                                    <div class="mt-4 text-center">
                                        {% trans %}ok_account{% endtrans %} <a href="{{ path('web_login') }}">{% trans %}login{% endtrans %}</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


{% endblock %}

{% block js %}

    <script src="{{ asset('assets/js/login.js') }}"></script>

{% endblock %}
