<a href="{{ path('web_dashboard') }}" class="btn btn-white btn-border btn-round mr-2"><i class="fas fa-desktop"></i> </a>
<a href="{{ path('web_dashboard_job') }}" class="btn btn-white btn-border btn-round mr-2"><i class="fas flaticon-shopping-bag"></i> </a>
<a href="#" class="btn btn-white btn-border btn-round mr-2"><i class="fas fa-building"></i> </a>
<a href="#" class="btn btn-white btn-border btn-round mr-2"><i class="fas flaticon-alarm"></i> </a>
